* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #eef3f8;
  color: #222;
}

.hidden {
  display: none !important;
}

.home {
  width: 95%;
  max-width: 1200px;
  margin: 35px auto;
  text-align: center;
}

.home h1 {
  color: #0057b8;
  font-size: 46px;
  margin-bottom: 8px;
}

.home p {
  font-size: 20px;
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.company-card {
  height: 180px;
  border: none;
  border-radius: 12px;
  background: white;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0,0,0,.15);
  transition: .25s;
}

.company-card:hover {
  transform: translateY(-7px);
  background: #0057b8;
  color: white;
}

.company-card img {
  max-width: 82px;
  max-height: 70px;
  object-fit: contain;
  margin-bottom: 12px;
}

.company-card strong {
  display: block;
  font-size: 21px;
}

.billing {
  width: 95%;
  max-width: 1300px;
  margin: 25px auto;
  display: grid;
  grid-template-columns: 1fr 380px;
  gap: 30px;
}

.form-card,
.receipt-wrap {
  background: white;
  padding: 22px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,.12);
}

.form-card h2 {
  color: #0057b8;
  margin: 15px 0;
}

label {
  display: block;
  margin-top: 12px;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 11px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.btn,
.back {
  width: 100%;
  margin-top: 16px;
  padding: 13px;
  border: none;
  border-radius: 8px;
  background: #0057b8;
  color: white;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.back {
  width: auto;
  padding: 10px 18px;
}

.print {
  background: #28a745;
}

.image {
  background: #6f42c1;
}

.pdf {
  background: #222;
}

.receipt {
  width: 308px;
  height: 712px;
  margin: auto;
  padding: 10px 9px 0;
  background: white;
  color: #111;
  overflow: hidden;
  border: 1px solid #ddd;
  font-family: "Courier New", Courier, monospace;
}

.receipt-logo {
  display: block;
  width: 58px;
  height: 72px;
  object-fit: contain;
  margin: 0 auto;
}

.receipt h3 {
  margin-top: 20px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  font-family: "Courier New", Courier, monospace;
  white-space: nowrap;
}

.receipt pre {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  line-height: 1.39;
  white-space: pre;
}

@page {
  size: 57mm 132mm;
  margin: 0;
}

@media print {
  body {
    background: white;
  }

  .home,
  .form-card {
    display: none !important;
  }

  .billing,
  .receipt-wrap {
    display: block;
    margin: 0;
    padding: 0;
    box-shadow: none;
    background: white;
  }

  .receipt {
    width: 57mm;
    height: 132mm;
    margin: 0;
    border: none;
  }
}

@media(max-width: 900px) {
  .billing {
    grid-template-columns: 1fr;
  }
}
